.main {
    height: 100vh;
    position: relative;
}

.air {
    position: relative;
    height: 70vh;
    background: linear-gradient(rgb(27, 10, 104), rgb(134, 219, 212));
}

.ground {
    box-shadow: inset 0 10px 10px rgb(85, 85, 85);
    position: absolute;
    width: 100%;
    height: 30vh;
    background: linear-gradient(rgb(109, 6, 6), rgb(179, 6, 6));
    bottom: 0;
}

.ast {
    transition: 0.5s;
    position: absolute;
    left: 0;
    bottom: 1%;
    user-select: none;
}